api/ @azure-management-and-platforms/aks-api-reviewers-eng @azure-management-and-platforms/aks-api-reviewers-pms
design/ @azure-management-and-platforms/aks-design-reviewers
prd/ @azure-management-and-platforms/aks-prd-reviewers
